*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-gray: #EEEEEE;
  --basic-white: #FFFFFF;
  --black-font: #000000;
  --light-black-font: #283136;
  --light-red-buttons: #FB565A;
  --red-buttons: #E74246;
  --dark-red-buttons: #D7373B;
  --light-green-buttons: #00CA74;
  --green-buttons: #00BC6C;
  --dark-green-buttons: #00AA62;
  --light-yellow-buttons: #EFC849;
  --yellow-buttons: #EAB534;
  --dark-yellow-buttons: #E5A722;
  --gray-buttons: #E1E1E1;
  --black-bottom: #444444;
  --black-pointer: #231F20;
  --calm-gray: #D7DCDE;
  --hover-gray: #B4B9BB;
  --gray-pointer: #A6A6A6;
  --dark-grey: #666666;
  --gray-stroke: #DBDBDB;
  --pressing-gray: #D5D5D5;
  --gray-muddy: #DFDFDF;
  --black-gray: #4D4D4D;
  --dim-shadow: rgba(0, 1, 1, 0.1);
  --popup-shadow: #666;
  --field-color: #999;
  --gray-sluggish: #f1f1f1;
  --grizzly: #d7dcde;
  --transparence: #00ca74;
  --dark-blue: #283136;
}

.page {
  height: 100%;
}

body {
  min-width: 1160px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: var(--black-font);
  background-color: var(--basic-white);
  overflow-x: hidden;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--black-font);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu {
  background-color: var(--light-gray);
}

.container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  height: 545px;
  margin: 0 auto;
}

.main-menu ul {
  list-style: none;
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-top: 50px;
}

.main-navigation a {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: transparent;
}

.link-logo:active path,
.link-logo-1:active path {
  fill: var(--gray-pointer);
}

.link-logo:focus {
  outline: none;
  border: 0;
}

.main-menu-list {
  margin: 0;
  padding: 0;
  width: 438px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 202px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.menu-list a:focus {
  border: 0;
  outline: none;
}

.customers {
  width: 79px;
  min-height: 30px;
}

.basket {
  width: 72px;
  min-height: 30px;
}

.menu-list a:hover,
.menu-list a:focus,
.basket:hover,
.basket:focus {
  color: var(--light-red-buttons);
}

.menu-list a:active,
.basket:active {
  color: var(--black-font);
  opacity: 0.3;
}

.menu-shop {
  width: 74px;
  min-height: 44px;
  text-align: center;
  margin-top: 6px;
}

.menu-shop-1::after {
  content: "";
  display: block;
  min-width: 74px;
  height: 2px;
  background-color: var(--light-red-buttons);
  position: relative;
  top: 14px;
}

.basket-button {
  display: flex;
  justify-content: space-between;
  width: 115px;
  margin-top: 4px;
  position: relative;
  left: 39px;
}

.basket-button::before {
  content: "";
  background-color: var(--light-gray);
  background-image: url("../img/cart-icon.svg");
  width: 15px;
  min-height: 15px;
  background-repeat: no-repeat;
  position: relative;
  top: 6px;
}

.slider {
  width: 1157px;
  min-height: 431px;
}

.about-company {
  position: relative;
  padding: 0;
  margin: 0;
}

.benefit {
  width: 1157px;
  min-height: 431px;
  position: relative;
  display: none;
}

.foto::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/nerds-index-slide.png");
  width: 760px;
  min-height: 431px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: auto;
  right: 0px;
  margin-top: -78px;
}

.fotose-1::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/nerds-index-slide-2.png");
  width: 760px;
  min-height: 431px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: block;
  position: absolute;
  top: auto;
  right: 0px;
  margin-top: -78px;
}

.fotose-2::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/nerds-index-slide-3.png");
  width: 760px;
  min-height: 431px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: auto;
  right: 0px;
  margin-top: -78px;
}

.slider-controls {
  display: flex;
  width: 89px;
  height: 18px;
  justify-content: space-between;
  position: relative;
  z-index: 26;
  top: 309px;
  left: 579px;
}

.slider-controls label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.current {
  position: absolute;
  background-image: url("../img/ellipse-2.svg");
  background-repeat: no-repeat;
  left: -42px;
  top: 0;
  width: 18px;
  height: 18px;
}

.current::after {
  content: "";
  position: absolute;
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  display: none;
}

.input-slide-1:checked~.slider-controls label[for="arrow-left"]::after,
.input-slide-2:checked~.slider-controls label[for="arrow-center"]::after,
.input-slide-3:checked~.slider-controls label[for="arrow-right"]::after {
  display: block;
}

.input-slide {
  display: none;
}

.input-slide-1:checked~.about-company .bong {
  display: block;
}

.input-slide-2:checked~.about-company .hong {
  display: block;
}

.input-slide-3:checked~.about-company .cong {
  display: block;
}

.description {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 69px;
  margin-left: 22px;
}

.second-block {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
}

.first-grid {
  width: 260px;
  min-height: 775px;
}

.second-grid {
  width: 760px;
  min-height: 2217px;
  margin-left: 139px;
}

.presentation {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  margin-top: 51px;
  width: 538px;
}

.explanation {
  color: var(--light-black-font);
  margin: 0;
  margin-top: 27px;
  width: 420px;
}

.more {
  display: block;
  width: 240px;
  min-height: 50px;
  padding-top: 16px;
  padding-right: 54px;
  padding-bottom: 16px;
  padding-left: 54px;
  color: var(--basic-white);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  background-color: var(--light-red-buttons);
  margin-top: 40px;
}

.more:hover,
.more:focus {
  background-color: var(--red-buttons);
  border: 0;
  outline: none;
}

.more:active {
  background-color: var(--dark-red-buttons);
  box-shadow: inset 0px 3px 0px var(--dim-shadow);
}

.more:active .learn-button {
  opacity: 0.3;
}

.section-1 {
  display: flex;
}

.section-2 {
  margin-right: 147px;
}

.container-1 {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 1298px;
  margin: 0 auto;
}

.container-2 {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 355px;
  margin: 0 auto;
}

.services ul {
  list-style: none;
}

.services-provided {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  margin: 0;
  padding: 0;
}

.services-provided li {
  width: 300px;
  min-height: 348px;
  margin-right: 100px;
  margin-top: 82px;
}

.services-provided li:last-child {
  margin-right: 0;
}

.services-provided::after {
  content: "";
  background-color: var(--light-gray);
  width: 1158px;
  height: 2px;
  background-repeat: no-repeat;
  margin-top: 80px;
}

.list-of-services h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 25px;
}

.list-of-services p {
  color: var(--light-black-font);
  width: 260px;
  min-height: 48px;
}

.of-services::before {
  content: "";
  background-color: var(--light-gray);
  background-image: url("../img/illustration-1.jpg");
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.of-services-1::before {
  content: "";
  background-color: var(--light-gray);
  background-image: url("../img/illustration-2.jpg");
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.of-services-2::before {
  content: "";
  background-color: var(--light-gray);
  background-image: url("../img/illustration-3.jpg");
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.order-button,
.order-button-1,
.order-button-2 {
  display: block;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  width: 160px;
  min-height: 50px;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 39px;
  border-radius: 3px;
  margin-top: 32px;
}

.order-button {
  background-color: var(--light-red-buttons);
}

.order-button-1 {
  background-color: var(--light-green-buttons);
}

.order-button-2 {
  background-color: var(--light-yellow-buttons);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--red-buttons);
  border: 0;
  outline: none;
}

.order-button:active {
  background-color: var(--dark-red-buttons);
  box-shadow: inset 0px 3px 0px var(--dim-shadow);
}

.order-button-1:hover,
.order-button-1:focus {
  background-color: var(--green-buttons);
  border: 0;
  outline: none;
}

.order-button-1:active {
  background-color: var(--dark-green-buttons);
  box-shadow: inset 0px 3px 0px var(--dim-shadow);
}

.order-button-2:hover,
.order-button-2:focus {
  background-color: var(--yellow-buttons);
  border: 0;
  outline: none;
}

.order-button-2:active {
  background-color: var(--dark-yellow-buttons);
  box-shadow: inset 0px 3px 0px var(--dim-shadow);
}

.order-button:active .learn-button,
.order-button-1:active .learn-button,
.order-button-2:active .learn-button {
  opacity: 0.3;
}

.about-us {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-top: 73px;
  width: 651px;
}

.specification {
  color: var(--light-black-font);
  margin: 0;
  margin-top: 33px;
  width: 649px;
}

.are-developing {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-black-font);
  margin: 0;
  margin-top: 40px;
}

.we-make {
  margin: 0;
  padding: 0;
}

.we-make li {
  list-style: none;
  margin-top: 24px;
}

.nerds-img {
  margin-top: 40px;
}

.spreadsheet {
  margin: 0;
  margin-top: 28px;
  width: 358px;
  min-height: 24px;
}

.development-list {
  color: var(--light-black-font);
  position: relative;
}

.development-list p {
  margin: 0;
  padding-left: 36px;
}

.more-about-services::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--light-red-buttons);
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}

.guarantee {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-left: 9px;
}

.we-guarantee td {
  padding-top: 10px;
}

.figures th {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  padding-right: 19px;
}

.figures th:last-child {
  padding-right: 44px;
}

.percent {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.we-guarantee td {
  line-height: 18px;
  color: var(--light-black-font);
}

.partners::before {
  content: "";
  background-color: var(--light-gray);
  width: 1165px;
  height: 2px;
  background-repeat: no-repeat;
  position: relative;
  top: -13px;
  left: -28px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  min-height: 180px;
  margin: 0;
  padding: 0;
}

.partners li {
  list-style: none;
}

.partners::after {
  content: "";
  background-color: var(--light-gray);
  width: 1158px;
  height: 2px;
  background-repeat: no-repeat;
  position: relative;
  top: -15px;
  left: -28px;
}

.logos-partners {
  margin-top: 87px;
  margin-left: 30px;
}

.our-partners img {
  opacity: 0.2;
}

.our-partners:hover,
.our-partners:focus {
  border: 0;
  outline: none;
}

.our-partners:hover img,
.our-partners:focus img {
  opacity: 1;
}

.our-partners:active img {
  opacity: 0.1;
}

.academy-logo {
  margin-top: -10px;
}

.logo-barbshop {
  margin-top: 32px;
}

.logo-application {
  margin-top: 32px;
  margin-right: 20px;
}

.logo-bear {
  margin-top: 38px;
  margin-right: 73px;
}

.separator::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--light-gray);
  position: relative;
  top: -80px;
  right: 50px;
}

.separator-1::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--light-gray);
  position: relative;
  top: -60px;
  right: 59px;
}

.separator-2::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--light-gray);
  position: relative;
  top: -80px;
  right: 64px;
}

.sort {
  margin-top: 62px;
}

.sort fieldset {
  border: 0;
}

.sort ul {
  list-style: none;
}

.filter-item {
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 50px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  width: 260px;
  height: 80px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--gray-sluggish);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--grizzly);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--transparence);
}

.range-controls .toggle {
  background-image: url("../img/filter-button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.range-controls .toggle-min {
  position: relative;
  bottom: 10px;
  left: 0%;
}

.range-controls .toggle-max {
  position: relative;
  bottom: 30px;
  left: 60%;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  height: 38px;
  padding: 10px;
  margin-left: 8px;
  text-align: center;
  color: var(--dark-blue);
  border: none;
  border-radius: 5px;
  background: var(--gray-sluggish);
  font-family: inherit;
  font-size: inherit;
}

.max-prices {
  margin-right: 1px;
}

.sort-by {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-1 {
  margin: 0;
  padding: 0;
  margin-left: 36px;
  margin-top: 18px;
}

.filter-1 li {
  padding-bottom: 21px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  line-height: 19px;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -6px;
  background-image: url("../img/radio-off.svg");
  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:focus+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -6px;
  background-image: url("../img/radio-off.svg");
  width: 25px;
  height: 25px;
  opacity: 1;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: -6px;
  background-image: url("../img/radio-on.svg");
  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.filter-input-radio:checked:hover+label::after,
.filter-input-radio:checked:focus+label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: -6px;
  background-image: url("../img/radio-on.svg");
  width: 25px;
  height: 25px;
  opacity: 1;
}

.filter-input-radio:disabled+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -6px;
  background-image: url("../img/radio-off.svg");
  width: 25px;
  height: 25px;
  opacity: 0.1;
}

.filter-input-radio:checked:disabled+label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: -6px;
  background-image: url("../img/radio-on.svg");
  width: 25px;
  height: 25px;
  opacity: 0.1;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;
  opacity: 0.4;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:focus+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;
  opacity: 1;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  background-image: url("../img/checkbox-on.svg");
  width: 23px;
  height: 23px;
  opacity: 0.4;
}

.filter-input-checkbox:checked:hover+label::after,
.filter-input-checkbox:checked:focus+label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  background-image: url("../img/checkbox-on.svg");
  width: 23px;
  height: 23px;
  opacity: 1;
}

.filter-input-checkbox:checked:disabled+label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  background-image: url("../img/checkbox-on.svg");
  width: 23px;
  height: 23px;
  opacity: 0.1;
}

.filter-input-checkbox:disabled+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;
  opacity: 0.1;
}

.filter-input-radio:checked+label::before {
  display: none;
}

.filter-input-checkbox:checked+label::before {
  display: none;
}

.grid {
  margin: 0;
  padding: 0;
  margin-top: 55px;
}

.grid-1 {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 30px;
}

.scroll {
  font-size: 16px;
  line-height: 19px;
  color: var(--light-black-font);
}

.show-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-right: 89px;
  padding-bottom: 15px;
  padding-left: 88px;
  background-color: var(--light-gray);
  border-radius: 3px;
  border: 0;
  outline: 0;
}

.show-button:hover,
.show-button:focus {
  background-color: var(--gray-muddy);
}

.show-button:active {
  background-color: var(--pressing-gray);
  border: 0;
  outline: 0;
}

.button-name:active {
  opacity: 0.3;
}

.sorting {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 266px;
  padding-top: 59px;
}

.sortings {
  display: flex;
}

.show {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  width: 360px;
  padding-left: 2px;
  min-height: 50px;
}

.show li {
  list-style: none;
}

.show li:nth-child(3) {
  padding-right: 15px;
}

.assortment {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-font);
  opacity: 0.3;
}

.assortment:hover,
.assortment:focus {
  color: var(--black-font);
  opacity: 0.6;
  border: 0;
  outline: none;
}

.assortment:hover,
.assortment:focus {
  border: 0;
  outline: none;
}

.assortment:active {
  color: var(--black-font);
  opacity: 1;
}

.show-by {
  color: var(--black-font);
  opacity: 1;
}

.bongs {
  color: var(--gray-pointer);
  opacity: 0.2;
  width: 11px;
  height: 10px;
  position: relative;
  top: 0px;
}

.bongs:hover,
.bongs:focus {
  color: var(--gray-pointer);
  opacity: 1;
  border: 0;
  outline: none;
}

.bongs:active path {
  fill: var(--black-pointer);
}

.active-1 {
  position: relative;
  top: 0px;
  right: -8px;
}

.pointers:hover,
.pointers:focus {
  border: 0;
  outline: none;
}

.active-1 path {
  fill: var(--black-pointer);
}

.active-1:active path {
  fill: var(--black-pointer);
}

.product-presentation {
  margin: 0;
  padding: 0;
  padding-top: 49px;
  width: 770px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2px;
}

.product-presentation li {
  list-style: none;
  width: 360px;
  height: 620px;
  border-radius: 5px;
}

.product-presentation li:nth-child(odd) {
  margin-right: 40px;
  margin-bottom: 29px;
}

.presented-goods:hover .product-description,
.presented-goods:focus-within .product-description {
  display: block;
}

.presented-goods:focus {
  border: 0;
  outline: none;
}

.presented-goods:focus .product-photo::before,
.presented-goods:focus-within .product-photo::before,
.presented-goods:hover .product-photo::before {
  opacity: 1;
}

.presented-goods:focus,
.presented-goods:hover,
.presented-goods:focus-within {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.product-description {
  width: 360px;
  height: 231px;
  background-color: var(--light-gray);
  text-align: center;
  border-radius: 0px 0px 7px 7px;
  position: absolute;
  transform: translateY(-82%);
  display: none;
}

.product-photo {
  margin: 0;
  object-fit: contain;
  width: 358px;
  height: 578px;
}

.product-photo img {
  background-color: var(--light-gray);
  width: 358px;
  height: 578px;
}

.product-photo::before {
  content: "";
  background-image: url("../img/browser.png");
  background-repeat: no-repeat;
  width: 358px;
  height: 40px;
  opacity: 0.12;
  display: block;
  border: 0;
  outline: none;
}

.product-photo:hover::before,
.product-photo:focus::before {
  content: "";
  background-image: url("../img/browser.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  opacity: 1;
  display: block;
  border: 0;
  outline: none;
}

.product-photo:focus::before {
  content: "";
  background-image: url("../img/browser.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  opacity: 1;
  display: block;
}

.product {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  text-transform: uppercase;
}

.link-active:hover,
.link-active:focus {
  color: var(--light-red-buttons);
  border: 0;
  outline: none;
}

.product:active {
  color: var(--black-font);
  opacity: 0.3;
}

.about-product {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-grey);
  margin: 0 auto;
  margin-top: 12px;
}

.the-size {
  width: 200px;
  min-height: 37px;
}

.the-size-1 {
  width: 255px;
  min-height: 37px;
}

.the-size-2 {
  width: 170px;
  min-height: 36px;
}

.product-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-top: 17px;
  padding-right: 75px;
  padding-bottom: 15px;
  padding-left: 75px;
  background-color: var(--light-red-buttons);
  border-radius: 3px;
  border: 0;
  outline: 0;
  margin-top: 31px;
}

.product-price:hover,
.product-price:focus {
  background-color: var(--red-buttons);
}

.product-price:active {
  background-color: var(--dark-red-buttons);
  box-shadow: inset 0px 3px 0px var(--dim-shadow);
}

.switching {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  width: 758px;
  min-height: 50px;
}

.the-first a {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-left: 18px;
  border: 3px solid var(--gray-stroke);
  border-radius: 3px;
  background-color: var(--basic-white);
}

.the-first {
  margin-right: 11px;
}

.number a {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: var(--light-gray);
}

.number {
  margin-right: 11px;
}

.ordered:hover,
.ordered:focus {
  background-color: var(--gray-muddy);
  border: 0;
  outline: none;
}

.ordered:active {
  background-color: var(--pressing-gray);
  box-shadow: inset 0px 3px 0px var(--dim-shadow);
}

.ordered:active span {
  color: var(--black-font);
  opacity: 0.3;
}

.next-page a {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-right: 77px;
  padding-bottom: 15px;
  padding-left: 78px;
  border-radius: 3px;
  background-color: var(--light-gray);
}

.next-page {
  width: 260px;
}

.feedback {
  position: absolute;
  background-color: var(--basic-white);
  left: 13%;
  z-index: 10;
  transform: translateY(18%);
  width: 319px;
  height: 308px;
  padding-top: 49px;
  padding-right: 47px;
  padding-bottom: 47px;
  padding-left: 52px;
}

.studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 23px;
}

.address p,
.address a {
  line-height: 18px;
  color: var(--dark-grey);
}

.address p {
  margin: 0;
  margin-bottom: 17px;
}

.address-nerds {
  margin: 0;
  margin-top: 22px;
}

.write {
  display: block;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-top: 16px;
  padding-right: 44px;
  padding-bottom: 16px;
  padding-left: 45px;
  background-color: var(--light-red-buttons);
  border-radius: 3px;
  margin-top: 40px;
}

.write:hover,
.write:focus {
  background-color: var(--red-buttons);
  border: 0;
  outline: none;
}

.write:active {
  background-color: var(--dark-red-buttons);
  box-shadow: inset 0px 3px 0px var(--dim-shadow);
}

.write:active .learn-button {
  opacity: 0.3;
}

.card-nerds {
  position: relative;
  width: 100%;
  height: 416px;
  margin: 0 auto;
}

.card-nerds iframe {
  position: relative;
  z-index: 8;
  width: 100%;
  height: 416px;
}

.map {
  margin: 0 auto;
  height: 416px;
  width: 1440px;
  position: absolute;
  z-index: 1;
  bottom: -4px;
  background-color: var(--gray-buttons);
}

.basement {
  display: flex;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 217px;
  margin: 0 auto;
}

.social-network {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 250px;
  height: 100px;
  display: flex;
  margin-right: 141px;
  margin-top: 73px;
}

.social-network li:not(:last-child) {
  margin-right: 14px;
}

.network-button {
  display: block;
  width: 78px;
  height: 78px;
  background-color: var(--gray-buttons);
  border-radius: 50px;
}

.network-button:hover,
.network-button:focus {
  background-color: var(--red-buttons);
  border: 0;
  outline: none;
}

.network-button:active {
  background-color: var(--dark-red-buttons);
  box-shadow: inset 0px 3px 0px var(--dim-shadow);
}

.vk {
  padding-top: 29px;
  padding-right: 27px;
  padding-bottom: 30px;
  padding-left: 26px;
}

.fb {
  padding-top: 30px;
  padding-right: 34px;
  padding-bottom: 28px;
  padding-left: 33px;
}

.inst {
  padding-top: 29px;
  padding-right: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.network-button:active svg {
  opacity: 0.3;
}

.invitation {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.discount {
  margin-top: 78px;
  margin-left: 11px;
}

.a-discount {
  line-height: 22px;
  color: var(--black-bottom);
  margin: 0;
  margin-top: 11px;
}

.popup-1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 30px 50px var(--popup-shadow);
  display: none;
}

.pop-up {
  top: 20px;
  bottom: 100px;
  z-index: 25;
  background-color: var(--basic-white);
  width: 960px;
  height: 590px;
  outline: 1px solid var(--calm-gray);
  margin: 0 auto;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.form-to-fill {
  padding-top: 63px;
  padding-right: 99px;
  padding-bottom: 84px;
  padding-left: 100px;
}

.form-to-fill fieldset {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  padding: 0;
  margin: 0;
  width: 761px;
  height: 500px;
}

.a-call {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 37px;
}

.data {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.start-form {
  width: 761px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.first-cells {
  width: 330px;
}

.first-cells::-webkit-input-placeholder {
  color: var(--black-bottom);
}

.upper-cells {
  width: 330px;
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 16px;
  border: 2px solid var(--calm-gray);
  border-radius: 3px;
}

.upper-cells::placeholder {
  color: var(--field-color)
}

.upper-cells:focus::placeholder {
  color: var(--black-bottom)
}

.cells {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--black-bottom);
  opacity: 0.5;
}

.upper-cells::-webkit-input-placeholder,
.upper-cells::-moz-placeholder,
.upper-cells:-moz-placeholder,
.upper-cells:-ms-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  color: var(--black-bottom);
}

.upper-cells:focus::-webkit-input-placeholder,
.upper-cells:focus::-moz-placeholder,
.upper-cells:focus:-moz-placeholder,
.upper-cells:focus:-ms-input-placeholder,
.large-cell:focus {
  color: var(--black-bottom);
}

.upper-cells:not(:placeholder-shown):invalid {
  color: var(--red-buttons);
  border: 2px solid var(--red-buttons);
}

.large-cell {
  width: 760px;
  height: 118px;
  padding-top: 16px;
  padding-right: 414px;
  padding-bottom: 84px;
  padding-left: 16px;
  border: 2px solid var(--calm-gray);
  border-radius: 3px;
  overflow: hidden;
}

.upper-cells:hover,
.large-cell:hover {
  border: 2px solid var(--hover-gray);
  opacity: 1;
}

.upper-cells:focus,
.large-cell:focus {
  border: 2px solid var(--hover-gray);
  opacity: 1;
}

.upper-cells:focus,
.large-cell:focus {
  border: 2px solid var(--black-font);
  opacity: 1;
}

.submit-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--light-red-buttons);
  padding-top: 17px;
  padding-right: 83px;
  padding-bottom: 15px;
  padding-left: 83px;
  border: 0;
  margin-top: 47px;
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--red-buttons);
  border: 0;
  outline: none;
}

.submit-button:active {
  background-color: var(--dark-red-buttons);
  box-shadow: inset 0px 3px 0px var(--dim-shadow);
  border: 0;
  outline: none;
}

.submit-button:active .learn-button {
  opacity: 0.3;
}

.to-close {
  position: absolute;
  top: 80px;
  right: 100px;
  width: 21px;
  height: 21px;
  opacity: 0.3;
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
}

.to-close:hover,
.to-close:focus {
  opacity: 1;
}

.to-close:active {
  opacity: 0.1;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
